html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #f8f5f5;
}

.navbar {
  background: rgba(249, 248, 248, 0.7) !important;
  backdrop-filter: blur(8px);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero {
  position: relative;
  width: 100vw;  /* full viewport width */
  height: 100vh;  /* full viewport height */
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* dark overlay */
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-outline-light {
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
}

.btn-outline-light:hover {
  background: white;
  color: black;
}
