.order-success {
  font-family: "Poppins", sans-serif;
  background: #f8f8f8;
  min-height: 100vh;
}

.check-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #e8f9f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-circle span {
  color: #16a34a;
  font-size: 38px;
  font-weight: bold;
}

.bank-box {
  background: #fafafa;
  border-left: 4px solid #000;
}

.btn-dark:hover {
  background-color: #222;
}
